<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="KEY" value="atmel" />
  <add key="PAGESIZE" value="15" />
  <add key="FILEEXTENSION" value="jpg,png,jpeg,gif,bmp,tif,tiff|images/*" />
  <add key="PASSDEFAULT" value="phu@rieng"/>
  <add key="IDENTITY_PHONGNOIVU" value="9"/>
  <add key="IDENTITY_LANHDAO" value="1"/>
  <!-- should set to "" -->
  <add key="PORT" value="587" />
  <add key="HOST" value="smtp.gmail.com" />
  <!-- should set to default port 25 when update -->
  <add key="FROM" value="phongnoivu.phurieng@gmail.com" />
  <add key="USERNAME" value="phongnoivu.phurieng" />
  <add key="PASSWORD" value="default" />
</appSettings>
