<connectionStrings>
  <!--<add name="TechOfficeEntities" connectionString="metadata=res://*/TechOfficeModel.csdl|res://*/TechOfficeModel.ssdl|res://*/TechOfficeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=TechOfficeDev;user id=sa;password=@abc123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="TechOfficeEntities" connectionString="metadata=res://*/TechOfficeModel.csdl|res://*/TechOfficeModel.ssdl|res://*/TechOfficeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLSERVER;initial catalog=91ATPPhuRieng;user id=user;password=pass;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  <!--<add name="TechOfficeEntities" connectionString="metadata=res://*/TechOfficeModel.csdl|res://*/TechOfficeModel.ssdl|res://*/TechOfficeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLSERVER;initial catalog=TechOfficeDev;user id=user;password=pass;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
</connectionStrings>
