@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--start:body-->
<h1 class="title">Giới thiệu</h1>
<div class="content">

    <p>
        QUỐC HỘI THÔNG QUA NGHỊ QUYẾT VỀ KẾ HOẠCH PHÁT TRIỂN KT-XH 2017 Tin mới

        Theo chương trình, ngày 7/11, Quốc hội sẽ họp phiên toàn thể tại Hội trường, nghe báo cáo và thảo luận về một số dự án Luật và thông qua Nghị quyết về kế hoạch phát triển kinh tế-xã hội năm...
    </p>

    <p>
        QUỐC HỘI THÔNG QUA NGHỊ QUYẾT VỀ KẾ HOẠCH PHÁT TRIỂN KT-XH 2017 Tin mới

        Theo chương trình, ngày 7/11, Quốc hội sẽ họp phiên toàn thể tại Hội trường, nghe báo cáo và thảo luận về một số dự án Luật và thông qua Nghị quyết về kế hoạch phát triển kinh tế-xã hội năm...
    </p>
    <p>
        QUỐC HỘI THÔNG QUA NGHỊ QUYẾT VỀ KẾ HOẠCH PHÁT TRIỂN KT-XH 2017 Tin mới

        Theo chương trình, ngày 7/11, Quốc hội sẽ họp phiên toàn thể tại Hội trường, nghe báo cáo và thảo luận về một số dự án Luật và thông qua Nghị quyết về kế hoạch phát triển kinh tế-xã hội năm...
    </p>


    <div class="clearfix"></div>
    <!-------------------26082015------------------>
    <div class="">

        <!--start:body-->

        <h1 class="title">
            <span style="color: #fff">Tin tức - sự kiện</span></h1>
        <div class="content">

            <div class="news2">
                <div class="nleft">
                    <div class="image">
                        <a href="postsingle.html">
                            <img src="Images/Tap-huan-doan.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="nright">
                    <h4>
                        <a href="postsingle.html">TẬP HUẤN CÔNG TÁC ĐẠI HỘI ĐOÀN CÁC CẤP NHIỆM KỲ 2017 – 2022</a>
                    </h4>
                    (CTTĐTBP) - Ban Thường vụ Tỉnh đoàn vừa tổ chức tập huấn công tác tổ chức Đại hội Đoàn các cấp nhiệm kỳ 2017 - 2022. Hơn 350 học viên là bí thư, phó bí thư đoàn cơ sở các cấp trên toàn tỉnh đã tham gia chương trình tập huấn.
                </div>
                <div class="clear"></div>
            </div>
            <div class="clr"></div>
            <div class="news2">
                <div class="nleft">
                    <div class="image">
                        <a href="postsingle.html">
                            <img src="Images/Tap-huan-doan.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="nright">
                    <h4>
                        <a href="postsingle.html">TẬP HUẤN CÔNG TÁC ĐẠI HỘI ĐOÀN CÁC CẤP NHIỆM KỲ 2017 – 2022</a>
                    </h4>
                    (CTTĐTBP) - Ban Thường vụ Tỉnh đoàn vừa tổ chức tập huấn công tác tổ chức Đại hội Đoàn các cấp nhiệm kỳ 2017 - 2022. Hơn 350 học viên là bí thư, phó bí thư đoàn cơ sở các cấp trên toàn tỉnh đã tham gia chương trình tập huấn.
                </div>
                <div class="clear"></div>
            </div>
            <div class="clr"></div>
            <div class="news2">
                <div class="nleft">
                    <div class="image">
                        <a href="postsingle.html">
                            <img src="Images/Tap-huan-doan.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="nright">
                    <h4>
                        <a href="postsingle.html">TẬP HUẤN CÔNG TÁC ĐẠI HỘI ĐOÀN CÁC CẤP NHIỆM KỲ 2017 – 2022</a>
                    </h4>
                    (CTTĐTBP) - Ban Thường vụ Tỉnh đoàn vừa tổ chức tập huấn công tác tổ chức Đại hội Đoàn các cấp nhiệm kỳ 2017 - 2022. Hơn 350 học viên là bí thư, phó bí thư đoàn cơ sở các cấp trên toàn tỉnh đã tham gia chương trình tập huấn.
                </div>
                <div class="clear"></div>
            </div>
            <div class="clr"></div>
            <div class="news2">
                <div class="nleft">
                    <div class="image">
                        <a href="postsingle.html">
                            <img src="Images/Tap-huan-doan.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="nright">
                    <h4>
                        <a href="postsingle.html">TẬP HUẤN CÔNG TÁC ĐẠI HỘI ĐOÀN CÁC CẤP NHIỆM KỲ 2017 – 2022</a>
                    </h4>
                    (CTTĐTBP) - Ban Thường vụ Tỉnh đoàn vừa tổ chức tập huấn công tác tổ chức Đại hội Đoàn các cấp nhiệm kỳ 2017 - 2022. Hơn 350 học viên là bí thư, phó bí thư đoàn cơ sở các cấp trên toàn tỉnh đã tham gia chương trình tập huấn.
                </div>
                <div class="clear"></div>
            </div>
            <div class="clr"></div>
            <div class="news2">
                <div class="nleft">
                    <div class="image">
                        <a href="postsingle.html">
                            <img src="Images/Tap-huan-doan.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="nright">
                    <h4>
                        <a href="postsingle.html">TẬP HUẤN CÔNG TÁC ĐẠI HỘI ĐOÀN CÁC CẤP NHIỆM KỲ 2017 – 2022</a>
                    </h4>
                    (CTTĐTBP) - Ban Thường vụ Tỉnh đoàn vừa tổ chức tập huấn công tác tổ chức Đại hội Đoàn các cấp nhiệm kỳ 2017 - 2022. Hơn 350 học viên là bí thư, phó bí thư đoàn cơ sở các cấp trên toàn tỉnh đã tham gia chương trình tập huấn.
                </div>
                <div class="clear"></div>
            </div>
            <div class="clr"></div>


        </div><!--end content-->
        <div>
            <div class="scott">
                <strong class="first active">1</strong> <a href="#">2</a> <a href="#">4</a> <a href="#4">5</a> <a href="#5">6</a> <a href="#6">7</a> <a href="#7">8</a> <a href="#8">9</a> <a href="#9">10</a> <a href="#1">Tiếp</a> <a href="#10" class="last">Cuối »</a>
            </div>
        </div>

        <!--end:body-->

    </div>
    <!-------------------End 26082015------------------>
    <div class="line"></div>
</div>
<div class="clear"></div>

<!--end:body-->