@model int?
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="clearfix"></div>
    <div class="">
        <h1 class="title">
            <span style="color: #fff">Tin tức - sự kiện</span>
        </h1>
        @{Html.RenderAction("News", "Home", routeValues: new { newsCategoryId = Model });}
    </div>
</div>
<div class="clear"></div>
