@{
    ViewBag.Title = "Forbiden access";
    //Layout = null;
}

<link href="~/Content/app/error.css" rel="stylesheet" />
<div class="container" id="error">
    <h1 class="error-number">403</h1>
    <p class="text-center">Forbiden access ...</p>

    <h3 class="text-center">You don't have permission to access this page</h3>
</div>

