@{
    ViewBag.Title = "Internal server";
    //Layout = null;
}

<link href="~/Content/app/error.css" rel="stylesheet"/>
<div class="container" id="error">
    <h1 class="error-number">500</h1>
    <p class="text-center">Internal server error</p>
</div>