@{
    ViewBag.Title = "Unauthorized";
    //Layout = null;
}

<link href="~/Content/app/error.css" rel="stylesheet" />
<div class="container" id="error">
    <h1 class="error-number">401</h1>
    <p class="text-center">Unauthorized ...</p>
    <h3 class="text-center">You need to login first to see this page.</h3>
</div>

