@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <h2>Danh sách người dùng trong hệ thống</h2>

    @Html.RouteLink("Thêm tài khoản", UrlLink.USERS_ADD, null, htmlAttributes: new { @class = "btn btn-link" })

    @Html.Action("List")
</div>
