<configuration>
  <appSettings>
    <add key="LASTONLINE" value="13" />
    <add key="CURRENTONLINE" value="1" />
    <add key="TODAY" value="13" />
    <add key="WEEK" value="13" />
    <add key="TOTAL" value="13" />
    <add key="CURRENTDATE" value="27/08/2017" />
  </appSettings>
</configuration>