body {
    background: #f3f5f6;
    min-height: 100%;
    overflow-x: hidden;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

div { display: block; }

@keyframes fadeInLeft {
    0% {
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -webkit-transform: translateX(-20px);
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
        transform: translateX(0);
    }
}

#error > h1, #error > h2, #error > h3, #error > h4, #error > h5, #error > h6, #error > p {
    color: #C33C2D;
    font-family: 'Open Sans', sans-seriff;
    font-weight: bold;
    text-align: center;
}

h1 { margin-bottom: 50px; }

h1.error-number {
    font-size: 20em;
    text-align: center;
}

#error > p, #error > h3 {
    display: block;
    font-size: 3em;
    text-align: center;
}

#error > h3 {
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

#error > p { margin-bottom: 20px; }

#error > .fadeInLeft {
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

#error > .animated {
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.text-center { vertical-align: central; }

/* ------------------ Small devices --------------------*/

@media all and (max-width: 460px) {
    h1.error-number { font-size: 12em; }

    #error > h3, #error > p { font-size: 2em; }
}

/* ------------------ Small devices --------------------*/

@media all and (max-width: 420px) {
    h1.error-number { font-size: 11em; }
}