<div class="supp">
    <div class="bgsitebar">
        <img src="~/images/hoctap_lamtheoguongbacsv.jpg" alt="Hỗ trợ Phòng nội vụ">
    </div>

</div>

<div class="supp">
    <div class="bgsitebar">
        <img src="~/images/bien dao que huong_1369814865500.jpg" alt="Hỗ trợ Phòng nội vụ">
    </div>
</div>

<div class="supp">
    <div class="bgsitebar">
        <img src="~/images/nong-thon-moi_1369815473656.jpg" alt="Hỗ trợ Phòng nội vụ">
    </div>
</div>
