<div class="supp">
    <h3 class="sbar">
        <a href="">Tìm kiếm</a>
        <div class="btn_down btn_down_sp"><i class="fa fa-chevron-down"></i></div>
    </h3>
    <div class="menu_products bgsitebar1">
        <div class="search_head">
            <input type="text" id="dbb" /><input type="button" value="Tìm kiếm" />
            <div class="clear"></div>
        </div>
    </div>
</div>
