@model AnThinhPhat.ViewModel.Menu.InitMenuPageReferenceViewModel

@if (Model != null && Model.PageReferenceResults != null && Model.PageReferenceResults.Any())
{
    foreach (var item in Model.PageReferenceResults)
    {
        var srcImage = Path.Combine(TechOfficeConfig.FOLDER_UPLOAD_PAGEREFERENCE.Replace("~", ""),
       item.Id.ToString().PadLeft(TechOfficeConfig.LENGTHFOLDER, TechOfficeConfig.PAD_CHAR),
       item.UrlImage);
        var target = item.IsNewPage ? "_blank" : "";

        <div class="supp">
            <div class="bgsitebar">
                <a href="@item.UrlLink" target="@target"><img src="@srcImage" alt="@item.Alt"></a>
            </div>

        </div>
    }
}