
<div class="supp hidemobile">
    <h3 class="sbar">
        <a href="#">Tin nổi bật</a>
        <div class="btn_down btn_down_news">
            <i class="fa fa-chevron-down"></i>
        </div>
    </h3>
    <div class="bgsitebar1 news_new">
        <ul id="menu_dl">

            <li style="height: auto;">
                <span style="float: left; width: 68px;">2016-07-25</span>
                <a style="width: 148px;" href="#">Phòng nội vụ </a>
                <div class="clear"></div>
            </li>
            <li style="height: auto;">
                <span style="float: left; width: 68px;">2016-07-25</span>
                <a style="width: 148px;" href="#">Phòng nội vụ </a>
                <div class="clear"></div>
            </li>
            <li style="height: auto;">
                <span style="float: left; width: 68px;">2016-07-25</span>
                <a style="width: 148px;" href="#">Phòng nội vụ </a>
                <div class="clear"></div>
            </li>
            <li style="height: auto;">
                <span style="float: left; width: 68px;">2016-07-25</span>
                <a style="width: 148px;" href="#">Phòng nội vụ </a>
                <div class="clear"></div>
            </li>

        </ul>
    </div>
</div>

