
<div id="back-top" style="display: block;">
    <i class="fa fa-arrow-circle-up"></i>
</div>
<div id="topseo"></div>

<div class="bg dtapg">
    <div id="header">
        <div class="container">
            <div id="header_bg">
                <a class="visible-mobile" id="link_home" href="/">&nbsp;</a>
                <a class="logo_mobi" href="/">
                    <img src="/images/header-bg-mobile.jpg">
                </a>
            </div>
        </div>
    </div>
</div>
