<div class="footer_bg" >
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="add_col">                    
                        <p><span>PHÒNG NỘI VỤ HUYỆN PHÚ RIỀNG</span><br/>
                            <span>
                                <span><strong>Địa chỉ</strong>: Đường ĐT 741, xã  Phú Riềng, huyện Phú Riềng </span>
                                <br><strong>Tel</strong>: (0651) 39 39 007 &nbsp; Fax : (0651) 39 39 117
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
