
@{ Html.RenderAction("MenuDanhMuc", "Menu"); }

<div class="clearfix"></div>

@*@{ Html.RenderPartial("~/Views/Shared/Menu/MenuPhoto.cshtml");}*@
@{ Html.RenderAction("MenuPhoto", "Menu");}

@{Html.RenderPartial("_PartialPageCounterUser"); }

<div class="clearfix"></div>