@*@{ Html.RenderPartial("~/Views/Shared/Menu/MenuSearch.cshtml");}*@

@{ Html.RenderAction("MenuDanhMuc", "Home"); }

@*@{ Html.RenderPartial("~/Views/Shared/Menu/NewsHighlight.cshtml");}*@



@{ Html.RenderPartial("~/Views/Shared/Menu/MenuPhoto.cshtml");}

@{Html.RenderPartial("_PartialPageCounterUser"); }

<div class="clearfix"></div>