<div class="supp">
    <h3 class="sbar">
        <a href="">Lượt truy cập</a>
        <div class="btn_down btn_down_sp">
            <i class="fa fa-chevron-down"></i>
        </div>
    </h3>
    <div class="menu_products">
        <ul id="menu_left">
            <li>
                Đang online: <span id="numberUserOnline"></span>
            </li>
            <li>
                Hôm nay: <span id="numberUserToday"></span>
            </li>
            <li>
                Trong tuần: <span id="numberUseInWeek"></span>
            </li>
            <li>
                Tổng: <span id="numberUseTotal"></span>
            </li>
        </ul>
    </div>
</div>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script>
    $(function () {
        var counterHub = $.connection.counterHub;
        $.connection.hub.start().done(function () {

        });

        counterHub.client.UpdateCount = function (result) {
            $('#numberUserOnline').text(result.online);
            $('#numberUserToday').text(result.today);
            $('#numberUseInWeek').text(result.week);
            $('#numberUseTotal').text(result.total);
        };
    });
</script>