
@{ Html.RenderAction("MenuDanhMuc", "Menu"); }



@*@{ Html.RenderPartial("~/Views/Shared/Menu/MenuPhoto.cshtml");}*@
@{ Html.RenderAction("MenuPhoto", "Menu");}

@{Html.RenderPartial("_PartialPageCounterUser"); }

<div class="clearfix"></div>