<div class="col-xs-12">
    @*BEGIN ADD REQUEST*@
    <div class="alert alert-success" role="alert" id="success-alert" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>
            @*Success*@
            Thành công!
        </strong>
        @*Record have added to successfully.*@
        Một mẫu tin mới được thêm vào thành công
    </div>

    <div class="alert alert-danger" role="alert" id="danger-alert" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Thất bại!</strong>
        Thêm một mẫu tin thất bại
    </div>
    @*END ADD REQUEST*@

    @*BEGIN ALERT EDIT*@
    <div class="alert alert-success" role="alert" id="success-alert-edit" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Thành công! </strong>
        Một mẫu tin chỉnh sửa thành công
    </div>

    <div class="alert alert-danger" role="alert" id="danger-alert-edit" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Thất bại!</strong>
        Một mẫu tin chỉnh sửa không thành công
    </div>
    @*END ALERT EDIT*@
</div>