@model AnThinhPhat.ViewModel.ThuTuc.InitThuTucViewModel
@{
    Layout = "~/Views/Shared/_LayoutThuTuc.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />

<h1 class="title title_ct"><span>Thủ tục</span></h1>
<div class="pading">
    <div class="entry form-horizontal">
        <div class="frmbox">
            @using (Html.BeginForm("Index", "ThuTuc", FormMethod.Get))
            {
                <div class="col-sm-10">
                    <label>Thủ tục/công việc</label>
                    @Html.TextBoxFor(x => Model.ThuTucCongViec, htmlAttributes: new { @class = "form-control" })
                </div>
                @*<div class="col-sm-6">
                        <label>Lĩnh vực</label>
                        @Html.DropDownListFor(x => Model.LinhVucThuTucId, new SelectList(Model.LinhVucThuTucInfo, "Id", "Name"), "Tất cả", htmlAttributes: new { @class = "form-control" })
                    </div>*@
                @*<div class="col-sm-5">
                        <label>Đơn vị thực hiện</label>
                        @Html.DropDownListFor(x => Model.CoQuanId, new SelectList(Model.CoQuanInfos, "Id", "Name"), "Tất cả", htmlAttributes: new { @class = "form-control" })
                    </div>*@

                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <div>
                        <input type="submit" class="btn btn-primary btn-width-md pull-right" value="Tìm kiếm" />
                    </div>
                </div>
                <div class="clearfix"></div>
            }
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div id="tableAdmin" class="table-responsive">
    @{Html.RenderAction("List", "ThuTuc", routeValues: new { search = Model.ValueSearch });}
</div>

@{Html.RenderPartial("_PartialPagePopupDetail", "Chi tiết thủ tục");}

@section Scripts{
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/app/popup-detail.js"></script>
}