@model AnThinhPhat.ViewModel.ThuTuc.InitThuTucViewModel
@{
    Layout = "~/Views/Shared/_LayoutThuTuc.cshtml";

}

<link href="~/Content/PagedList.css" rel="stylesheet" />

<h1 class="title title_ct"><span>Văn bản</span></h1>
<div class="pading">
    <div class="entry form-horizontal">
        @using (Html.BeginForm("Index", "ThuTuc", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-6">
                    <label>Thủ tục công việc</label>
                    @Html.TextBoxFor(x => Model.ThuTucCongViec, htmlAttributes: new { @class = "form-control" })
                    <label>Đơn vị thực hiện</label>
                    @Html.DropDownListFor(x => Model.CoQuanId, new SelectList(Model.CoQuanInfos, "Id", "Name"), "Tất cả", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    <label>Lĩnh vực</label>
                    @Html.DropDownListFor(x => Model.LinhVucThuTucId, new SelectList(Model.LinhVucThuTucInfo, "Id", "Name"), "Tất cả", htmlAttributes: new { @class = "form-control" })
                    <label>&nbsp;</label>
                    <input type="submit" class="btn btn-primary" value="Tìm kiếm" />
                </div>
            </div>
        }
    </div>
</div>

<h3><span style="font-size: x-large;">Danh sách thủ tục hành chính</span></h3>

<div id="tableAdmin" class="table-responsive">
    @{Html.RenderAction("List", "ThuTuc", routeValues: new { search = Model.ValueSearch });}
</div>
