@model AnThinhPhat.ViewModel.ThuTuc.InitThuTucViewModel
@{
    Layout = "~/Views/Shared/_LayoutThuTuc.cshtml";
}

<style>
    .col-sm-6 {
        padding-bottom: 15px;
    }
</style>
<link href="~/Content/PagedList.css" rel="stylesheet" />

<h1 class="title title_ct"><span>Thủ tục</span></h1>
<div class="pading">
    <div class="entry form-horizontal">
        @using (Html.BeginForm("Index", "ThuTuc", FormMethod.Get))
        {
            <div class="row">
                <div class="col-sm-6">
                    <label>Thủ tục/công việc</label>
                    @Html.TextBoxFor(x => Model.ThuTucCongViec, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-6">
                    <label>Lĩnh vực</label>
                    @Html.DropDownListFor(x => Model.LinhVucThuTucId, new SelectList(Model.LinhVucThuTucInfo, "Id", "Name"), "Tất cả", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-6">
                    <label>Đơn vị thực hiện</label>
                    @Html.DropDownListFor(x => Model.CoQuanId, new SelectList(Model.CoQuanInfos, "Id", "Name"), "Tất cả", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    <label class="col-sm-12">&nbsp;</label>
                    <input type="submit" class="btn btn-primary btn-width-md" value="Tìm kiếm" />
                </div>
            </div>
        }
    </div>
</div>

<h3><span style="font-size: x-large;">Danh sách thủ tục hành chính</span></h3>

<div id="tableAdmin" class="table-responsive">
    @{Html.RenderAction("List", "ThuTuc", routeValues: new { search = Model.ValueSearch });}
</div>

@{Html.RenderPartial("_PartialPagePopupDetail", "Chi tiết thủ tục");}

@section Scripts{
    <script src="~/Scripts/app/popup-detail.js"></script>
}