@model IEnumerable<AnThinhPhat.ViewModel.TacNghiep.ResultStatisticByCoQuanViewModel>

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {

        <label>@item.Name</label>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Công việc chưa hoàn thành</th>
                    <th>Công việc đang hoàn thành</th>
                    <th>Các công việc đã hoàn thành</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @*Hien thi danh sách cong viec chua hoan thanh*@
                        @foreach (var exe in item.NotExecuteResults)
                        {
                            <p>@exe.Name</p>
                        }
                    </td>
                    <td>
                        @foreach (var exe in item.ExecutingResults)
                        {
                            <p>@exe.Name</p>
                        }
                    </td>
                    <td>
                        @foreach (var exe in item.ExecutedResults)
                        {
                            <p>@exe.Name</p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    }
}
else
{
    <div>
        Không tìm thấy kết quả
    </div>
}