@model IEnumerable<AnThinhPhat.ViewModel.TacNghiep.ResultStatisticByCoQuanViewModel>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center col-sm-2">Trạng thái</th>
            <th class="text-center col-xs-2">Ngày tạo <br />Ngày hết hạn</th>
            <th class="text-center col-sm-1">Lĩnh vực</th>
            <th class="text-center col-sm-4">Nội dung</th>
            <th class="text-center col-xs-2">Các văn bản liên quan</th>
            <th class="text-center col-xs-1">Ngày hoàn thành</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6">
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <label>@item.TenCoQuan</label>
                        <table class="table">
                            @{ Html.RenderPartial("_PartialPageResultThucHienCongViec", item.NotExecuteResults);}
                            @{ Html.RenderPartial("_PartialPageResultThucHienCongViec", item.ExecutingResults);}
                            @{ Html.RenderPartial("_PartialPageResultThucHienCongViec", item.ExecutedResults);}
                            @{ Html.RenderPartial("_PartialPageResultThucHienCongViec", item.ExecutedOverResults);}
                        </table>

                                    }
                                }
            </td>
        </tr>
    </tbody>
</table>