@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/app/plus.css" rel="stylesheet" />
<style>
    .hiddenRow {
        padding: 0 !important;
    }

    .glyphicon:hover {
        cursor: pointer;
    }
</style>

<div class="row">

    <div class="col-md-4">
        <label>Ngày tạo</label>
        <input type="text" class="form-control control-datepicker" />
    </div>
    <div class="col-md-4">
        <label>Ngày hết hạn</label>
        <input type="text" class="form-control control-datepicker" />
    </div>
    <div class="col-md-4">
        <label>Ngày hoàn thành</label>
        <input type="text" class="form-control control-datepicker" />
    </div>
    <div class="col-md-12">
        <label>Nội dung</label>
        <textarea rows="10"></textarea>
    </div>

    @{ Html.RenderAction("CoQuanLienQuan");}

    <div class="col-md-12">
        <label>Danh sách các tập tin</label>
        <div> <a href="#">File 01</a></div>
        <div>
            <a href="#">File 02</a>
        </div>
        <div>
            <a href="#">File 03</a>
        </div>
        <div> <a href="#">File 04</a></div>
    </div>
    <div class="col-md-12">
        <label>Nội dung ý kiên trao đổi</label>
        <textarea rows="10"></textarea>
    </div>

    <div class="col-md-12">
        <label>Nội dụng các ý kiến của các cơ quan</label>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Co quan</td>
                    <td>Y kien</td>
                    <td>Tap tin dinh kem</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Co quan 01</td>
                    <td>
                        <p>y kien 01</p>
                    </td>
                    <td>
                        <div>
                            <a href="#">File 02</a>
                        </div>
                        <div>
                            <a href="#">File 03</a>
                        </div>
                        <div> <a href="#">File 04</a></div>
                    </td>
                </tr>
                <tr>
                    <td>Co quan 01</td>
                    <td>
                        <p>y kien 02" </p>
                    </td>
                    <td>
                        <div>
                            <a href="#">File 02</a>
                        </div>
                        <div>
                            <a href="#">File 03</a>
                        </div>
                        <div> <a href="#">File 04</a></div>
                    </td>
                </tr>
                <tr>
                    <td>Co quan 01</td>
                    <td>
                        <p> value="y kien 03" </p>
                    </td>
                    <td>
                        <div>
                            <a href="#">File 02</a>
                        </div>
                        <div>
                            <a href="#">File 03</a>
                        </div>
                        <div> <a href="#">File 04</a></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12">
        <label>Tình hình công việc</label>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Co quan</th>
                    <th>Muc do hoan thanh</th>
                    <th>Thoi gian</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>co quan 01</td>
                    <td> Tot</td>
                    <td>1-1-2016</td>
                </tr>
                <tr>
                    <td>co quan 01</td>
                    <td> Tot</td>
                    <td>1-1-2016</td>
                </tr>
                <tr>
                    <td>co quan 01</td>
                    <td> Tot</td>
                    <td>1-1-2016</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var optionCalendar =
             {
                 //showOn: 'both',
                 autoSize: true,
                 constrainInput: true,
                 //buttonImageOnly: true,
                 @*buttonImage: "@Url.Content("~/Content/images/calendar.png")",*@
                 //buttonText: "Calendar",
                 dateFormat: 'dd/mm/yy'
             };
            $('.control-datepicker').datepicker(optionCalendar);
        });
    </script>
}
