@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/app/plus.css" rel="stylesheet" />
<style>
    .hiddenRow {
        padding: 0 !important;
    }

    .glyphicon:hover {
        cursor: pointer;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <label>Ngay tao</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Ngay het han</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Ngay hoan thanh</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-12">
        <label>Noi dung</label>
        <textarea rows="10"></textarea>
    </div>
    <div class="col-md-12">
        <label>Cac co quan co lien quan</label>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Ten co quan</td>
                    <td style="width:100px;">Co lien quan</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <span class="glyphicon glyphicon-plus" data-toggle="collapse" data-target="#demo01">
                        </span>
                        Nhom Co quan 01
                    </td>
                    @*<td>
                            <input type="checkbox" />
                        </td>*@
                </tr>
                <tr>
                    <td colspan="2" class="hiddenRow">
                        <div class="collapse" id="demo01">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Co quan 01</td>
                                        <td style="width:100px;">
                                            <input type="checkbox" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Co quan 01</td>
                                        <td style="width:100px;">
                                            <input type="checkbox" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Co quan 01</td>
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-plus" data-toggle="collapse" data-target="#demo02">
                        </span>
                        Nhom Co quan 02
                    </td>
                    <td>
                       <div>
                           <input type="checkbox" />
                        </div> 
                    </td>
                </tr>
                <tr>
                    <td>Nhom Co quan 03</td>
                    <td>
                        <input type="checkbox" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12">
        <label>Danh sach cac tap tin</label>
        <div> <a href="#">File 01</a></div>
        <div>
            <a href="#">File 02</a>
        </div>
        <div>
            <a href="#">File 03</a>
        </div>
        <div> <a href="#">File 04</a></div>
    </div>
    <div class="col-md-12">
        <label>Noi dung y kien trao doi</label>
        <textarea rows="10"></textarea>
    </div>
    <div class="col-md-12">
        <label>Noi dung y kien cua cac co quan</label>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Co quan</td>
                    <td>Y kien</td>
                    <td>Tap tin dinh kem</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Co quan 01</td>
                    <td>
                        <p>y kien 01</p>
                    </td>
                    <td>
                        <div>
                            <a href="#">File 02</a>
                        </div>
                        <div>
                            <a href="#">File 03</a>
                        </div>
                        <div> <a href="#">File 04</a></div>
                    </td>
                </tr>
                <tr>
                    <td>Co quan 01</td>
                    <td>
                        <p>y kien 02" </p>
                    </td>
                    <td>
                        <div>
                            <a href="#">File 02</a>
                        </div>
                        <div>
                            <a href="#">File 03</a>
                        </div>
                        <div> <a href="#">File 04</a></div>
                    </td>
                </tr>
                <tr>
                    <td>Co quan 01</td>
                    <td>
                        <p> value="y kien 03" </p>
                    </td>
                    <td>
                        <div>
                            <a href="#">File 02</a>
                        </div>
                        <div>
                            <a href="#">File 03</a>
                        </div>
                        <div> <a href="#">File 04</a></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12">
        <label>Tinh hinh cong viec</label>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Co quan</th>
                    <th>Muc do hoan thanh</th>
                    <th>Thoi gian</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>co quan 01</td>
                    <td> Tot</td>
                    <td>1-1-2016</td>
                </tr>
                <tr>
                    <td>co quan 01</td>
                    <td> Tot</td>
                    <td>1-1-2016</td>
                </tr>
                <tr>
                    <td>co quan 01</td>
                    <td> Tot</td>
                    <td>1-1-2016</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


