
<div class="clear"></div>
<h3><span style="font-size: x-large;">Danh sách </span></h3>
<div class="table_over">
    <table style="width: 100%; border-collapse: collapse;" border="1" cellspacing="8" cellpadding="8">
        <tbody>
            <tr style="background-color: #d50100;" align="center" valign="middle">
                <td><strong><span style="font-size: medium;"><span style="color: #ffffff;">STT</span></span></strong></td>
                <td><strong><span style="font-size: medium;"><span style="color: #ffffff;">Ngày tạo</span></span></strong></td>
                <td><strong><span style="font-size: medium;"><span style="color: #ffffff;">Ngày hết hạn</span></span></strong></td>
                <td><strong><span style="font-size: medium;"><span style="color: #ffffff;">Phụ trách</span></span></strong></td>
                <td><strong><span style="font-size: medium;"><span style="color: #ffffff;">Xử lý chính</span></span></strong></td>

                <td><strong><span style="font-size: medium;"><span style="color: #ffffff;">Phối hợp</span></span></strong></td>
                <td><strong><span style="font-size: medium;"><span style="color: #ffffff;">Trạng thái</span></span></strong></td>
                <td><strong><span style="font-size: medium;"><span style="color: #ffffff;">Lĩnh vực</span></span></strong></td>
                <td><strong><span style="font-size: medium;"><span style="color: #ffffff;">Nội dung công việc</span></span></strong></td>
                <td><strong><span style="font-size: medium;"><span style="color: #ffffff;">Quá trình xử lý</span></span></strong></td>


            </tr>
            <tr align="center">
                <td>1</td>
                <td>01/10/2016</td>
                <td>01/10/2016</td>
                <td>Trịnh Quang Hạnh</td>
                <td>Phạm Anh Thư</td>

                <td>Nguyễn Chí Thanh<br />Nguyễn Thị Hoàng</td>
                <td>Chưa xử lý</td>
                <td>Cán bộ</td>
                <td>Tiếp nhận bà Phamj Thị Thoa</td>
                <td>14:10 01/10/2016 - <br />9:10 02/10/2016</td>
            </tr>
            <tr align="center">
                <td>1</td>
                <td>01/10/2016</td>
                <td>01/10/2016</td>
                <td>Trịnh Quang Hạnh</td>
                <td>Phạm Anh Thư</td>

                <td>Nguyễn Chí Thanh<br />Nguyễn Thị Hoàng</td>
                <td>Chưa xử lý</td>
                <td>Cán bộ</td>
                <td>Tiếp nhận bà Phamj Thị Thoa</td>
                <td>14:10 01/10/2016 - <br />9:10 02/10/2016</td>
            </tr>
            <tr align="center">
                <td>1</td>
                <td>01/10/2016</td>
                <td>01/10/2016</td>
                <td>Trịnh Quang Hạnh</td>
                <td>Phạm Anh Thư</td>

                <td>Nguyễn Chí Thanh<br />Nguyễn Thị Hoàng</td>
                <td>Chưa xử lý</td>
                <td>Cán bộ</td>
                <td>Tiếp nhận bà Phamj Thị Thoa</td>
                <td>14:10 01/10/2016 - <br />9:10 02/10/2016</td>
            </tr>
            <tr align="center">
                <td>1</td>
                <td>01/10/2016</td>
                <td>01/10/2016</td>
                <td>Trịnh Quang Hạnh</td>
                <td>Phạm Anh Thư</td>

                <td>Nguyễn Chí Thanh<br />Nguyễn Thị Hoàng</td>
                <td>Chưa xử lý</td>
                <td>Cán bộ</td>
                <td>Tiếp nhận bà Phamj Thị Thoa</td>
                <td>14:10 01/10/2016 - <br />9:10 02/10/2016</td>
            </tr>
            <tr align="center">
                <td>1</td>
                <td>01/10/2016</td>
                <td>01/10/2016</td>
                <td>Trịnh Quang Hạnh</td>
                <td>Phạm Anh Thư</td>

                <td>Nguyễn Chí Thanh<br />Nguyễn Thị Hoàng</td>
                <td>Chưa xử lý</td>
                <td>Cán bộ</td>
                <td>Tiếp nhận bà Phamj Thị Thoa</td>
                <td>14:10 01/10/2016 - <br />9:10 02/10/2016</td>
            </tr>

        </tbody>
    </table>
</div>