@using PagedList;
@using PagedList.Mvc;

@model IPagedList<AnThinhPhat.Entities.Results.VanBanResult>

@{
    AjaxOptions ajaxPaging = new AjaxOptions()
    {
        UpdateTargetId = "tableAdmin",
        HttpMethod = "GET",
    };
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center col-sm-2 col-action">Số ký hiệu</th>
            <th class="text-center col-sm-2">Ngày ban hành</th>
            <th class="text-center col-sm-8">Trích yếu</th>
        </tr>
    </thead>
    @if (Model.Any())
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <strong>
                            @Html.RouteLink(item.SoVanBan, UrlLink.VANBAN_DETAIL, routeValues: new { sovanban = item.SoVanBan.RejectMarks(), id = item.Id }, htmlAttributes: new { @class = "btn-link", target = "_blank" })
                        </strong>
                    </td>
                    <td>@Html.DisplayFor(x => item.NgayBanHanh, "DisplayDateTime")</td>
                    <td>@item.TrichYeu</td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tr><td colspan="4">No rows found.</td></tr>
    }
    <tfoot>
        <tr>
            <td colspan="4">
                <div id="contentPager" class="pull-right">
                    @Html.PagedListPager(Model, page => Url.Action("List", "VanBan", new { page }),
                           PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(ajaxPaging))
                </div>
            </td>
        </tr>
    </tfoot>
</table>