
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "View";
}

<div class="boxr" style="width:100%">
    <h1 class="title title_ct"><span>Văn bản</span></h1>
    <div class="row">
        <div class="col-xs-12">
            <h3><span style="font-size: x-large;">Danh sách văn bản</span></h3>
            <input type="button" class="btn btn-link" id="lnkCreateNew" value="Thêm mới" />
            <div id="tableAdmin" class="table-responsive">
                @Html.Action("ViewList","VanBan")
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/app/popup-detail.js"></script>
}